:root{
	--selection-color: rgb(185, 175, 61);
	--danger-color: rgb(214, 66, 66);
	--main-color: rgb(17, 16, 47);
	--div-color: rgb(82, 96, 129);
}

*{
	color: white;
}

body{
	background-color: var(--main-color);
	margin: 0;
}

div{
	margin: 5px;
}

p{
	margin-block: 2px;
}

button{
	appearance: none;
	background-color: var(--main-color);
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	margin: 2px;
}

button:hover{
	background-color: var(--selection-color);
	color: black;
}

button:hover.danger_button{
	background-color: var(--danger-color);
}

input{
	background-color: var(--main-color);
	border: black;
	font-family: monospace;
}

.one_char_input{
	text-align: center;
	width: 12pt;
}

.three_chars_input{
	text-align: center;
	width: calc(12pt * 2);
}

.nine_chars_input{
	text-align: center;
	width: calc(12pt * 5);
}

header{
	background-color: var(--div-color);
	padding: 5px 10px;
	margin: 0px;
	margin-bottom: 5px;
}

#title{
	text-align: center;
}

#menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

#references{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

#references.hidden{
	display: none;
}

#transformations_list span{
	margin-inline: 5px;
}

#addTransformationDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.main_div{
	background-color: var(--div-color);
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
}

.head_div{
	display: grid;
	gap: 2px;
	margin-bottom: 5px;
}

.duplicate_button{
	grid-column-start: 1;
	grid-column-end: 2;
}

.name{
	grid-column-start: 2;
	grid-column-end: 4;
	margin: 5px;
	text-align: center;
}

.delete_button{
	grid-column-start: 1;
	grid-column-end: 2;
}

.settings_button{
	grid-column-start: 2;
	grid-column-end: 4;
}

.reset_button{
	grid-column-start: 1;
	grid-column-end: 2;
}

.toggle_button{
	grid-column-start: 2;
	grid-column-end: 4;
}

.update_button{
	grid-column-start: 1;
	grid-column-end: 4;
}

.body_div{
	display: grid;
	align-items: center;
	gap: 5px;
	border-top: 2px solid black;
}

.board_table_div{
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.board_table{
	border-collapse: collapse;
	margin-block: 10px;
	font-family: monospace;
	font-size: 20pt;
	cursor: pointer;
}

.board_table td{
	width: 5vw;
	height: 5vw;
	text-align: center;
	cursor: pointer;
	cursor: inherit;
}

@media only screen and (max-width: 1000px){
	.board_table td{
		width: 50px;
		height: 50px;
	}
}

.board_table tr:nth-child(2){
	border-block: 1px solid black;
}

.board_table tr td:nth-child(2){
	border-inline: 1px solid black;
}

.data_div > *, .transformations_div > *, .markers_div > *{
	margin: 2px;
}

.data_div{
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 3px;
	border-block: 2px solid black;
}

.transformations_div, .markers_div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

select{
	background-color: var(--main-color);
}

.settings_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid black;
}

.type_div p{
	display: inline;
}

.alignment_cell.allowed{
	background-color: rgb(42, 197, 101);
}

.board_table td:hover.hover{
	background-color: var(--selection-color);
	color: black;
}

.board_table td:hover.danger_hover.taken{
	background-color: var(--danger-color);
	color: black;
}

.hidden_cursor{
	cursor: none;
}

.hidden{
	display: none;
}